
  h1 {
    color:#1e90ff;
  }

  /* * {
    border:white;
    background-color: rgb(128,128,128);
  }*/

  .header{
      background-color: #ff6347 ;
      display: flex;
      justify-content:  space-between;
  }

  .site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;

  }
  .grid{
      background-color: #e73630;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .footer{
      background-color: #8d0d0d;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }

  body{
    background-color: #808080;
  }
